<md-content layout-padding>
  <form name="userForm">
    <div layout layout-sm="column">
      <md-input-container flex>
        <label>First name</label>
        <input ng-model="user.firstName">
      </md-input-container>
      <md-input-container flex>
        <label>Last Name</label>
        <input ng-model="user.lastName">
      </md-input-container>
    </div>
    <div layout layout-sm="column">
      <md-input-container flex>
        <label>Email</label>
        <input ng-model="user.email" type="email">
      </md-input-container>
      <md-input-container flex>
        <label>Password</label>
        <input ng-model="user.password" type="password">
      </md-input-container>
    </div>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="md-raised md-primary">Sign Up</md-button>
    </section>
  </form>
</md-content>